/* ==========================================================================
   EVENTS MASONRY GALLERY
   ========================================================================== */

.events-gallery-grid {
  column-count: 3;
  column-gap: 16px;
  width: 100%;
  padding-top: 20px;
}

.event-card {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  break-inside: avoid;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
}

.event-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform .5s ease;
}

.event-card:hover img {
  transform: scale(1.04);
}

.industrial-info {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.35);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: .4s;
  text-align: center;
}

.event-card:hover .industrial-info {
  opacity: 1;
}

.industrial-info-title {
  color: #fff;
}

.industrial-info-text {
  color: #ddd;
}
@media (max-width:1024px){
  .events-gallery-grid{
    column-count:2;
    column-gap:12px;
  }

  .event-card{
    margin-bottom:12px;
  }
}

@media (max-width:650px){
  .events-gallery-grid{
    column-count:1;
    column-gap:0;
  }
}