.scroll-top{
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 55px;
    height: 55px;

    border-radius: 50%;
    border: 2px solid #fff;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(6px);

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;

    cursor: pointer;

    z-index: 9999;

    transition: all 0.4s ease;

    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}
@media (max-width: 768px) {
  .scroll-top {
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
  }
}

/* Hover Effect */

.scroll-top:hover{

    background: #fff;

    color: #000;

    transform: translateY(-8px) scale(1.05);

}
@media(max-width:768px){

    .scroll-top{

        width: 30px;
        height: 30px;

        bottom: 10px;
        right: 20px;

        font-size: 22px;
    }

}